{% extends 'base.html.twig' %}

{% block title %}Categorya index{% endblock %}

{% block body %}
<div class="container">
    <h1>Category audio</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorya in categoryas %}
            <tr>
                <td>{{ categorya.id }}</td>
                <td>{{ categorya.name }}</td>
                <td>
                    <a href="{{ path('categorya_show', {'id': categorya.id}) }}">show</a>
                    <a href="{{ path('categorya_edit', {'id': categorya.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorya_new') }}">Create new</a>
</div>
{% endblock %}
